.page {
    background-color: #C3D7DF;
}

.library_bar {
    /* height: 60px; */
    border-bottom: solid 3px var(--primary);
    background-color: #D0C3DF;
    box-sizing: border-box;
}

.search_bar_section {
    padding: 5px;
    max-width: 400px;
}

.search_bar_section input {
    height: 100%;
    display: block;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    width: calc(100% - 45px);
    border: none;
    background-color: white;
    border-right: solid;
    font-size: 20px;
    padding-left: 10px;
    outline: none;
}

.search_bar {
    background: white;
    height: 40px;
    border-radius: 10px;
    border: solid 3px var(--primary);
    position: relative;
    background-color: gainsboro;
}

.search_bar svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}

.sort_by {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.sort_by_button {
    border: solid 3px black;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.reverse_sort_button {
    border: solid 3px black;
    background: white;
    border-radius: 10px;
}

f .filter_bar_section {
    height: 60px;
    border-top: solid 3px var(--primary);
}

.saint_tiles {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.saint_tile {
    height: 280px;
    display: flex;
    flex-direction: column;
    width: 186px;
    transition: 0.3s;
    border-radius: 10px 10px 0px 0px;
    text-decoration: none;
    color: var(--primary_text);
}

@media only screen and (max-width: 600px) {

    .saint_tile {
        width: calc(50% - 10px);
    }
}

.saint_tile:is(:hover, :focus-visible) {
    box-shadow: none;
    z-index: 2;
}

.saint_tile:is(:hover, :focus-visible) .saint_tile_image {
    /* overflow: initial;
    flex: 0 1 auto */
}

.saint_tile:is(:hover, :focus-visible) img {
    max-height: 200%;
    /* box-shadow: 0px 0px 20px 18px #faed8f; */
    box-shadow: 0px 0px 6px 18px #ffed6f, 0px 0px 6px 38px #fffdf2;
}



.saint_tile_title {
    border: solid 3px var(--primary);
    border-style: solid solid none solid;
    width: 100%;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    padding: 2px;
    background-color: white;
}

.saint_tile_name {
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
}

.saint_tile_moniker {
    color: var(--light_text);
}

.saint_tile_image {
    flex: 1 1 auto;
    background-color: white;
    min-height: 0px;

}

.saint_tile img {
    object-fit: cover;
    width: 100%;
    box-sizing: border-box;
    height: initial;
    display: block;
    transition: 0.3s;
    min-height: 100%;
    max-height: 100%;
    border: solid 3px var(--primary);
}