.page {
    background-color: #f5f5f5;
    padding: 0px;
    position: relative;

}

.inner_page {
    background-color: #C3D7DF;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: solid 3px var(--primary);

    border-style: none solid none solid;
    min-height: calc(100vh - 103px);

}

h1 {
    text-align: center;
    font-weight: initial;
    font-family: garamond;
    margin-bottom: 5px;
    margin-top: 0px;
}

.monikers {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.moniker {
    font-size: 20px;

    font-weight: initial;
    font-family: garamond;
}

.tags {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.tag {
    border: solid 3px var(--primary);
    padding: 5px 10px;
    background-color: white;
}

.icon_window {
    max-width: 600px;
    padding: 10px;
    background: white;
    border: solid 3px var(--primary);
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.icons {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.icon {
    border: solid 3px var(--primary);
    object-fit: cover;
    flex: 0 1 180px;
    min-width: 0px;
}

.icon_gallery_link {
    border: solid 3px var(--primary);
    padding: 10px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    white-space: nowrap;
    color: var(--link_text);
    text-decoration: underline;
    background-color: white;
}

/* Life of */


.lifeof {

    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 18px;
    font-family: garamond;
    border: solid 3px black;
}

.lifeof_reader {
    overflow: hidden;
    max-height: 120px;
    margin-bottom: 20px;
    position: relative;
}

.lifeof_reader.expanded {
    max-height: initial !important;

}

.lifeof_reader:not(.expanded):before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 90%, white);
}


.life_of_expand {
    cursor: pointer;
}

.collapse {
    margin: auto;
    position: relative;
    width: 50px;
    height: 50px;
}

.collapse_line_1 {
    background: var(--link_text);
    height: 3px;
    width: 40%;
    left: 30%;
    position: absolute;
    top: 70%;
    border-radius: 10px;
}

.collapse_line_2 {
    background: var(--link_text);
    height: 55%;
    width: 3px;
    position: absolute;
    left: calc(50% + 0%);
    top: calc(50% - 31%);
    border-radius: 10px;
    transform: translateX(-50%);
}


.collapse_line_3 {
    background: var(--link_text);
    height: 40%;
    width: 3px;
    position: absolute;
    left: calc(50% + 12%);
    top: calc(50% - 40%);
    transform: translateX(-50%) rotate(135deg);
    border-radius: 10px;
}

.collapse_line_4 {
    background: var(--link_text);
    height: 40%;
    width: 3px;
    position: absolute;
    left: calc(50% - 12%);
    top: calc(50% - 40%);
    transform: translateX(-50%) rotate(225deg);
    border-radius: 10px;
}


.circles {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.circle {
    width: 10px;
    height: 10px;
    background: #8fd5ee;
    border-radius: 10px;
    border: solid 2px black;

}

/* End Life of  */

.external_links {

    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 18px;
    font-family: garamond;
    border: solid 3px black;
}

.external_links ul {}

.external_links li {
    color: var(--link_text);
}

.external_links li a {
    color: var(--link_text);
}


svg {
    width: 180px;
    border: #8fd5ee;
    object-fit: cover;
    margin: auto;
    display: block;
    border: none;
    color: var(--link_text);
}




/* Background */

.crosses {
    gap: 10px;
    padding: 10px;
    position: absolute;
    display: flex;
    max-width: calc(50% - 423px);
    flex-wrap: wrap;
    max-height: calc(100%);
    overflow: hidden;
    box-sizing: border-box;
    justify-content: space-between;

}

.crosses:nth-child(2) {
    right: 0px;
}


.cross {
    position: relative;
    width: 20px;
    height: 40px;
    opacity: 0.4;

}

.vertical,
.horizontal,
.plaque,
.footstand {
    background-color: gray;
}

.vertical {
    width: 3px;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);

}

.horizontal {
    width: 20px;
    height: 3px;
    top: 10px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0px);

}

.plaque {
    width: 10px;
    height: 3px;
    top: 4px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);

}

.footstand {
    width: 15px;
    height: 3px;
    top: 25px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0px) rotate(30deg);
}